<html>
    <head>
        <title>
            Jobthai Liff application
        </title>
        <meta charset="UTF-8"/>
        <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
        <script>
            liff.init(data => {
                    // Now you can call LIFF API
                    const userId = data.context.userId;
                },
                err => {
                    // LIFF initialization failed
                }
                )
            applyNow = () => {
                liff.sendMessages([
                    {
                        type: 'text',
                        text: 'สมัครงาน ตำแหน่ง เชฟ'
                    }
                ]).then(() => {
                    liff.closeWindow()
                })
            }
        </script>
    </head>
    <body>
        <h1>ข้อมูลตำแหน่ง : เชฟ</h1>
        <div>
            ทำอาหารเป็นก็พอแล้ว
        </div>
        <button onclick="applyNow()">สมัครเลย</button>
    </body>
</html>